#app-content {
    width: 100%;
    font: tahoma, arial, sans-serif;
}

#title, #new-ehr-button, #samples {
    margin-left: 3%;
}

#data-div {
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    padding: 1%
}

h3 {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 3px;
}

#master-detail {
    padding-bottom: 2%;
}

.detail {
    display: none;
    width: 90%;
    height: 250px;
}

.detail div {
    display: inline-block;
    height: 250px;
}

.data {
    width: 35%;
}

.data table {
    width: 100%;
}

.chart {
    width: 35%;
}

.about {
    width: 25%;
    overflow-x: auto;
}

.input-label {
    float: left;
    width: 15%;
}

input[type="text"] {
    width: 30%;
}

#systolic-input, #diastolic-input {
    width: 15%;
}

.master-detail-icon {
    height: 20px;
}

.axis path {
    stroke: #000;
    fill: none;
}
